.passwordGenerator-container{
    width: 100%;
    height: 100%;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
   /* justify-content: center; */
    align-items: center;
}
.passwordGenerator-content {
    width: 50%;
    padding: 2rem;
    background-color: #4f4f4f;
    border-radius: 10px;
}

.passwordGenerator-header{
    margin-bottom: 2rem;
}
.passwordGenerator-header h1{
    color: #009688;
    text-align: center;
}

.passwordGenerator-content-top {
    display: flex;
    margin-bottom: 2rem;
}
.custom-form-control{
    color: #009688;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    width: 100%;
    height: 3rem;
    outline: none;
    border: none;
}
.custom-btn{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    height: 3rem;
    padding: 5px 1rem;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #009688;
}

.generate-btn-container {
    text-align: center;
    margin-bottom: 2rem;
}
.custom-btn-create{
    min-width: 7rem;
    border-radius: 5px;
    background-color: #8cb2b3;
}
/* .passwordGenerator-content-bottom {
   margin-bottom: 2rem; 
} */
.custom-form-control-range{
    margin-right: 1rem;
    cursor: pointer;
    accent-color: #009688;
}
.input-container{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.custom-form-control-check{
    width: 2rem;
    height: 1.5rem;
    accent-color: #009688;
    margin-right: 1rem;
}

@media (max-width: 576px) {
    .passwordGenerator-container{
        margin-top: 0;
        justify-content: center;
    }
    .passwordGenerator-content{
        width: 90%;
    }
    .passwordGenerator-header h1{
        font-size: 1.5rem;
    }
    .input-container-sm{
        flex-direction: column;
        align-items: baseline;
    }
    .custom-form-control-range{
        width: 100%;
        margin-bottom: 1rem;
    }
    .custom-btn-create{
        min-width: 100%;
    }
}
